  <% comments.each do |comment| %>
    <% if comment.body %>
      <div class="row d-flex justify-content-center mt-100 mb-100">
        <div class="col-lg-10">
          <div class="card">
            <div class="comment-widgets">
              <div class="d-flex flex-row comment-row m-t-0">
                <div class="p-2">
                  <%= gravatar_for(comment.user, size: 50) %>
                </div>
                <div class="comment-text w-100">
                  <h6 class="font-medium"><%= comment.user.username%></h6>
                  <span class="m-b-15 d-block"><%= comment.body%></span>
                  <div class="comment-footer">
                    <span class="text-muted float-right"><%= time_tag comment.created_at, "data-local": "time-ago"%></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
            <% if logged_in? && current_user == comment.user %>
              <%= link_to "Edit", edit_tweet_comment_path( comment.tweet_id,comment.id ), class: 'btn btn-info btn-xs glyphicon glyphicon-edit' %>
              <%= link_to "Delete", tweet_comment_path(comment.tweet_id ,comment.id), method: :delete, class: 'btn btn-danger glyphicon glyphicon-trash btn-xs' %>
            <% end %>
        </div>
      </div>
      <br/>
      <hr>
    <% end %>
  <% end %>
