<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <center><%= gravatar_for @user, size: 150%></center>
  </div>
</div>
<center>
  <ul>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">follow_detail <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if @current_user && @current_user.following?(@user) %>
          <li><center><%= button_to "unfollow", {action: 'unfollow', id: @user.id}, method: 'post', class: 'btn btn-secondary' %></center></li>
        <% elsif @current_user != @user && @current_user%>
          <li><center><%= button_to "follow", follow_user_path(@user), class: 'btn btn-secondary' %></center></li>
        <% end %>
        <li><%= link_to "Followers", followers_url(@user, "followers"), class: "btn btn-secondary" %></li>
        <li><%= link_to "Followings", followers_url(@user, "followings"), class: "btn btn-secondary " %></li>
      </ul>
    </li>
  </ul>
</center>
<h4 align="center"><%= @user.username %>'s tweets</h4>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= render 'shared/tweet', obj: @user_tweets %>
  </div>
</div>
<div align="center">
  <%= raw pagy_bootstrap_nav(@pagy) if @user.tweets.count > 10%>
</div>
