<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <center><%= gravatar_for @user, size: 150%></center>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s tweets</h4>
<div>
  <% if @current_user && @current_user.following?(@user) %>
    <center><%= button_to "following", {action: 'unfollow', id: @user.id}, method: 'post', class: 'btn btn-danger' %></center>
  <% elsif @current_user != @user && @current_user%>
    <center><%= button_to "follow", follow_user_path(@user), class: 'btn btn-success' %></center>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= render 'shared/tweet', obj: @user_tweets %>
  </div>
</div>
<div align="center">
  <%= raw pagy_bootstrap_nav(@pagy) if @user.tweets.count > 10%>
</div>
